main {
    padding: 10%;
    min-width: 100vh;
    background-image: url("fondoDos.jpg");
    background-repeat: no-repeat;
    background-position:center center ;
    height: px;
    background-attachment: fixed;
    background-size: cover;
    }
    